html {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  color: floralwhite;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  text-align: center;
}

head {
  width: 100%;
  height: 100%;
  background-color: #080a0b;
  text-align: center;
}

button {
  background-color: #0b0724;
  color: floralwhite;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #0b0724;
  color: floralwhite;
  border: solid 4px orange;
}
#hi {
  height: 2px;
}
input {
  height: 14px;
  width: 480px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: #141414;
  color: floralwhite;
  font-size: 13px;
}

iframe {
  border: 2px solid aqua;
  border-radius: 10px;
}

#Aluben {
  font-size: 50px;
  color: #001191;
  text-decoration: underline;
}
img {
  height: 100px;
  color: #001191;
  position: relative;
  top: 50px;
}
#txt {
  font-size: 23px;
  color: honeydew;
}
script {
  background-size: cover;
  color: white;
  position: absolute;
  width: 350px;
  border-radius: 5px;
  left: 50%;
  margin-left: -160px;
  padding: 16px 8px 8px;
  box-sizing: border-box;
}

select {
  background-color: #001141;
  border: 2px solid orange;
  color: floralwhite;
}

#traf-say {
  display: none;
  font-size: 24px;
  color: red;
  position: absolute;
  top: 20px;
}
#traf-say:hover {
  font-size: 100vh;
}
.stinky {
  color: red;
  text-decoration: none;
}
.header {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 36, 36);
  text-align: center;
  left: 0%;
  position: fixed;
  width: 100%;
  top: 0px;
}
#cust {
  color: rgb(255, 255, 255);
  background-color: #3d3d3d;
  text-align: center;
  left: 0%;
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  align-items: center;
  align-content: center;
  align-self: center;
}
#remove {
  position: absolute;
  right: 140px;
}
.subtitle {
  font-size: 29px;
}
#closeset {
  position: absolute;
  right: 10px;
  top: 20px;
}
#closesetbutton {
  background-color: #3d3d3d;
  text-align: center;
  border: 0px solid;
  padding: 10px 20px;
}
#closesetbutton:hover {
  background-color: #3d3d3d;
  text-align: center;
  border: 0px solid #3d3d3d;
  padding: 10px 20px;
}
#cust1 {
  background-color: rgb(36, 36, 36);;
  text-align: center;
  border: 0px solid;
  padding: 10px 20px;
  width: 20px;
  height: 20px;
}
#cust1:hover {
  background-color: rgb(36, 36, 36);
  text-align: center;
  border: 0px solid #3d3d3d;
  padding: 10px 10px;
}
/*traf*/
#settingsimg {
  height: 28px;
  width: 28px;
  position: relative;
  top: 7px;
background-color: #3d3d3d;
}
#minidiv {
  background-color: #333333;
  border-radius: 50px;
  width: 600px;
  align-self: center;
  align-items: center;
  text-align: center;
}

#randomthingtrustbutt {
  background-color: blue;
}